name: Xcode Build and Archive

on:
  push:
    branches: [ master ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install GPG
      run: brew install gnupg
    - name: Xcode version
      run: /usr/bin/xcodebuild -version
    # - name: Build
    #   run: xcodebuild -sdk iphoneos -project fek.io.xcodeproj -configuration Debug -scheme fek.io
