name: Xcode Build and Archive

on:
  push:
    branches: [ master ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: Dump file hierarchy
      run: ls -R
    - name: Xcode version
      run: /usr/bin/xcodebuild -version
     - name: Build
       run: |
       xcodebuild -sdk iphoneos -project fek.io.xcodeproj -configuration Debug -scheme fek.io
